body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 60%;
}


header {
    background-color: #242424;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* styles for the navigation menu */
nav {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #18ed18;
    text-decoration: none;
}

nav a:hover {
    color: #18ed18;
    text-decoration: underline;
}

/* styles for the main content area  */
main {
    max-width: 800px;
    margin: 20px auto;
}

/* styles for each section */
section {
    margin: 40px 0;
}

section h2 {
    text-align: center;
    font-size: 2em;
}

section p {
    text-align: justify;
}

section img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

/* styles for links on the page */
a {
    color: #18ed18;
    text-decoration: none;
}

a:hover {
    color: #18ed18;
    text-decoration: underline;
}

footer {
    background-color: #242424;
    color: #fff;
    text-align: center;
    padding: 20px;
}